{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/Carlos2390" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.linkedin.com/in/carlos-matos-400309237/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Alura</p>
</footer>